:root {
  --background-color: #D3D3D3;
  --book-background: white;
  --red-button: rgba(184, 43, 43, 0.709);
  --new-book-btn-bg: #555;
  --new-book-btn: white;
  --input-bg: #efebeb;
  --create-book-border: #f1f1f1
  --button-blue: lightblue;
}

body {
  background-color: var(--background-color);
  display: grid;
  align-items: center;
}

#library {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.book  {
  display: grid;
  border: 1px solid white;
  background-color: var(--book-background);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 15px;
  align-items: center;
}

.delete-book {
  background-color: var(--red-button);
}

.delete-book, .read-btn {
  border: none;
  padding: 12px;
  border-radius: 10px;
  transition: all .15s ease;
  align-items: center;
  width: 20%;
  opacity: 0.8
}

.new-book {
  background-color: var(--new-book-btn-bg);
  color: var(--new-book-btn);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 15px;
}

button:active {
  scale: .95;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

input {
  background-color: var(--input-bg);
  border-radius: 5px;
}

.pages-input {
  margin: auto;
  width: 10vw;
}

.create-book {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid var(--create-book-border);
  z-index: 9;
/*   display: none;
  text-align: center;
  align-items: center;
  justify-self: center;
  width: 25vw;
  height: auto;
  background-color: white;
  border-radius: 20px; */
}

.create-book.checkbox {
  display: flex;
}

.header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.add-book {
  width: 10rem;
}

.have-read {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.have-read input {
  opacity: 0;
  width: 0;
  height: 0;
}

.have-read-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.have-read-slider.round {
  border-radius: 34px;
}

.have-read-slider.round:before {
  border-radius: 50%;
}

.have-read-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .15s;
}

input:checked + .have-read-slider {
  background-color: var(--button-blue);
}

input:focus + .have-read-slider {
  box-shadow: 0 0 1px var(--button-blue);
}

input:checked + .have-read-slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

